body {
    background-color: #00b6f0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header {
    height: 100px;
    width: 100%;
    text-align: center;
}

.canvas {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: 100;
}

img#chicken {
    position: absolute;
    z-index: 99;
    width: 200px;
    cursor: pointer;
    user-select: none;
    transition: left 300ms ease-in-out, top 300ms ease-in-out, transform 300ms ease-in-out;
}

img#chicken:hover {
    filter: drop-shadow(0 0 24px rgba(255, 255, 255, 0.6));
    transform: scale(1.1);
}

img#chicken:active {
    transform: scale(0.8);
}

@keyframes scaleEgg {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.6);
        filter: drop-shadow(0 0 24px rgba(255, 255, 255, 0.6));
    }
    100% {
        transform: scale(1);
        filter: none;
    }
}

.egg {
    position: absolute;
    z-index: 1;
    width: 100px;
    user-select: none;
    animation: scaleEgg 1s ease-in-out;
}



#score {
    font-size: 100px;
    font-weight: bold;
    color: #fcfe2d;
    font-family: monospace;
    letter-spacing: -8.2px;
    user-select: none;
}