body {
  margin: 0;
  padding: 0;
  background: #263238;
  color: #eeffff;
  font-family: Mono, 'Open Sans', Arial;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  color: #89DDFF;
  transition: color 0.5s;
  text-decoration: none;
}

a:hover {
  color: #e7f8ff;
  border-bottom: 1px dashed #e7f8ff;
}

.container {
  width: 640px;
  margin: 40px auto;
  max-width: 100%;
  padding: 0 10px;
}

#main {
  display: inline-block;
  letter-spacing: 2px;
  padding-left: 10px;
}

#main > ul, #main > ul li {
  list-style: none;
  font-family: 'Open Sans';
  letter-spacing: 0;
}

#main > ul li > span {
  font-size: 1.2em;
}

span.done {
  color: #C3E88D;
}

span.unfinished {
  color: #FF5370;
}

strong {
  color: #FFCB6B;
}

.tucao {
  text-align: right;
  opacity: 0.3;
  text-decoration: line-through;
}

.typed-cursor {
    display: inline;
    opacity: 0.8;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}